<!-- remix icon css-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.min.css"
    integrity="sha512-XcIsjKMcuVe0Ucj/xgIXQnytNwBttJbNjltBV18IOnru2lDPe9KRRyvCXw6Y5H415vbBLRm8+q6fmLUU7DfO6Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- simplebar css-->
<link href="plugins/simplebar/simplebar.min.css" rel="stylesheet">

<!-- data table css -->
<link rel="stylesheet" href="plugins/datatables.net-bs5/css/dataTables.bootstrap5.min.css">

<!-- data table responsive css -->
<link rel="stylesheet" href="plugins/datatables.net-responsive-dt/css/responsive.dataTables.min.css">

<!-- jsvectormap css -->
<link rel="stylesheet" href="plugins/jsvectormap/jsvectormap.min.css">

<!-- flatpickr css for date/time -->
<link rel="stylesheet" href="plugins/flatpickr/flatpickr.min.css">

<!-- jkanban css for kanban board -->
<link rel="stylesheet" href="plugins/jkanban/jkanban.min.css">

<!-- fancyapps -->
<link rel="stylesheet" href="plugins/@fancyapps/ui/fancybox/fancybox.css">

<!-- quill -->
<link rel="stylesheet" href="plugins/quill/quill.snow.css">

<!-- bootstrap icon -->
<link rel="stylesheet" href="plugins/bootstrap-icons/font/bootstrap-icons.css">

<!-- swiper-css -->
<link rel="stylesheet" href="plugins/swiper/swiper-bundle.min.css">

<!-- main css -->
<link href="css/style.min.css" rel="stylesheet" type="text/css" id="main-style" />