<footer class="footer">
    <div class="container-fluid">
        <div class="row">
             <div class="col-12">
                <div class="d-flex flex-column flex-md-row justify-content-between align-items-center gap-2">
                    <p class="small text-muted mb-0">© <script>document.write(new Date().getFullYear()); </script> Staffu. All Rights Reserved.</p>
                    <p class="text-muted mb-0 text-center">Expertly Designed & Developed by <a class="fw-medium text-primary text-decoration-none transition-link" href="https://mantrakshdevs.com/" target="_blank">Mantraksh Devs</a></p>
                </div>
             </div>
        </div>
    </div>
</footer>