<tr class="align-middle">
    <td>EMP-<span class="fw-semibold">%%id</span></td>
    <td>
        <div class="d-flex align-items-center gap-2">
            <div class="avatar avatar-md">
                <img src="images/avatars/%%img.jpg" alt="Employee Img" class="w-100 h-100 custom-avatar">
            </div>
            <h6 class="mb-0 fw-semibold text-nowrap"><span>%%name</span>
            </h6>
        </div>
    </td>
    <td>
        <div class="d-flex flex-column text-nowrap">
            <h6 class="mb-1 text-dark">%%job</h6>
            <small>%%department</small>
        </div>
    </td>
    <td class="text-center"><span class="badge bg-soft-%%badgeColor">%%type</span></td>
    <td class="text-center fw-medium"><span class="text-primary me-1"><i class="%%icon fs-12"></i></span>%%model
    </td>
    <td class="text-center">
        <div data-progress="%%progress" class="radial-chart-canvas mx-auto"
            style="width: 60px; height: 60px; min-height: 60px; min-width: 60px; display: block;">
        </div>
    </td>
    <td class="text-center">
        <div class="d-flex justify-content-center align-items-center gap-2">
            <div class="progress w-100" role="progressbar" aria-valuenow="%%rate" aria-valuemin="0" aria-valuemax="100"
                style="height: 8px;">
                <div class="progress-bar bg-%%rate-color w-%%rate">
                </div>
            </div>
            <small class="text-muted">%%num/10</small>
        </div>
    </td>
    <td><span class="text-%%icon2Color me-1"><i class="%%icon2"></i></span>%%des</td>
</tr>