<div class="datatable-wrapper">
    <table id="filterTable" class="table table-hover table-nowrap table-sm table-striped">
        <thead class="table-light">
            <tr>
                <th>Project ID</th>
                <th>Project Name</th>
                <th>Client</th>
                <th>Project Manager</th>
                <th>Team Members</th>
                <th>Due Date</th>
                <th>Status</th>
                <th>Budget</th>
            </tr>
        </thead>
        <tbody>
            <!-- project1 -->
            <tr class="align-middle">
                <td>000012</td>
                <td>Website Revamp</td>
                <td>
                    <div class="d-flex align-items-center gap-2">
                        <div class="avatar avatar-xs">
                            <img src="../../../images/avatars/avatar6.jpg" alt="Emp1"
                                class="w-100 h-100 rounded-circle">
                        </div>
                        Alex Morgan
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center gap-2">
                        <div class="avatar avatar-xs"><img alt="Avatar Img" class="w-100 h-100 custom-avatar"
                                src="../images/avatars/avatar3.jpg"></div>
                        Nisha Shah
                    </div>
                </td>
                <td>
                    <div class="avatar-group">
                        <div class="avatar avatar-xs custom-avatar overflow-hidden border-0"><img alt="Avatar 5"
                                class="w-100 h-100" src="../images/avatars/avatar5.jpg"></div>
                        <div class="avatar avatar-xs custom-avatar overflow-hidden border-0"><img alt="Avatar 6"
                                class="w-100 h-100" src="../images/avatars/avatar6.jpg"></div>
                    </div>
                </td>
                <td>19/07/2026</td>
                <td><span class="badge bg-soft-info"><i class="ri-circle-fill me-1 fs-8"></i>In progress</span></td>
                <td>$87,500.00</td>
            </tr>
            <!-- project2 -->
            <tr class="align-middle">
                <td>000010</td>
                <td>SaaS Platform Enhancement</td>
                <td>
                    <div class="d-flex align-items-center gap-2">
                        <div class="avatar avatar-xs">
                            <img src="../../../images/avatars/avatar2.jpg" alt="Emp1"
                                class="w-100 h-100 rounded-circle">
                        </div>
                        Olivia Taylor
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center gap-2">
                        <div class="avatar avatar-xs"><img alt="Avatar Img" class="w-100 h-100 custom-avatar"
                                src="../images/avatars/avatar1.jpg"></div>
                        Joyce Neal
                    </div>
                </td>
                <td>
                    <div class="avatar-group">
                        <div class="avatar avatar-xs custom-avatar overflow-hidden border-0"><img alt="Avatar 6"
                                class="w-100 h-100" src="../images/avatars/avatar4.jpg"></div>
                    </div>
                </td>
                <td>20/08/2025</td>
                <td><span class="badge bg-soft-success"><i class="ri-circle-fill me-1 fs-8"></i>Completed</span>
                </td>
                <td>$73,350.00</td>
            </tr>
            <!-- project3 -->
            <tr class="align-middle">
                <td>000008</td>
                <td>Performance Optimization</td>
                <td>
                    <div class="d-flex align-items-center gap-2">
                        <div class="avatar avatar-xs">
                            <img src="../../../images/avatars/avatar5.jpg" alt="Emp1"
                                class="w-100 h-100 rounded-circle">
                        </div>
                        Sophia Martinez
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center gap-2">
                        <div class="avatar avatar-xs"><img alt="Avatar Img" class="w-100 h-100 custom-avatar"
                                src="../images/avatars/avatar6.jpg"></div>
                        David Wilson
                    </div>
                </td>
                <td>
                    <div class="avatar-group">
                        <span class="text-muted text-opacity-25"><i
                                class="bi bi-plus-circle-dotted fs-4"></i></span>
                    </div>
                </td>
                <td>18/09/2027</td>
                <td><span class="badge bg-soft-secondary"><i class="ri-circle-fill me-1 fs-8"></i>Not started</span>
                </td>
                <td>$60,840.00</td>
            </tr>
            <!-- project4 -->
            <tr class="align-middle">
                <td>000015</td>
                <td>Android App Development</td>
                <td>
                    <div class="d-flex align-items-center gap-2">
                        <div class="avatar avatar-xs">
                            <img src="../../../images/avatars/avatar1.jpg" alt="Emp1"
                                class="w-100 h-100 rounded-circle">
                        </div>
                        Michael Carter
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center gap-2">
                        <div class="avatar avatar-xs"><img alt="Avatar Img" class="w-100 h-100 custom-avatar"
                                src="../images/avatars/avatar3.jpg"></div>
                        Nisha Shah
                    </div>
                </td>
                <td>
                    <div class="avatar-group">
                        <div class="avatar avatar-xs custom-avatar overflow-hidden border-0"><img alt="Avatar 6"
                                class="w-100 h-100" src="../images/avatars/avatar2.jpg"></div>
                        <div class="avatar avatar-xs custom-avatar overflow-hidden border-0"><img alt="Avatar 6"
                                class="w-100 h-100" src="../images/avatars/avatar6.jpg"></div>
                    </div>
                </td>
                <td>01/01/2026</td>
                <td><span class="badge bg-soft-success"><i class="ri-circle-fill me-1 fs-8"></i>Completed</span>
                </td>
                <td>$70,000.00</td>
            </tr>
            <!-- project5 -->
            <tr class="align-middle">
                <td>000011</td>
                <td>Data Migration Project</td>
                <td>
                    <div class="d-flex align-items-center gap-2">
                        <div class="avatar avatar-xs">
                            <img src="../../../images/avatars/avatar3.jpg" alt="Emp1"
                                class="w-100 h-100 rounded-circle">
                        </div>
                        Sarah Johnson
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center gap-2">
                        <div class="avatar avatar-xs"><img alt="Avatar Img" class="w-100 h-100 custom-avatar"
                                src="../images/avatars/avatar1.jpg"></div>
                        Joyce Neal
                    </div>
                </td>
                <td>
                    <div class="avatar-group">
                        <div class="avatar avatar-xs custom-avatar overflow-hidden border-0"><img alt="Avatar 6"
                                class="w-100 h-100" src="../images/avatars/avatar3.jpg"></div>
                        <div class="avatar avatar-xs custom-avatar overflow-hidden border-0"><img alt="Avatar 6"
                                class="w-100 h-100" src="../images/avatars/avatar4.jpg"></div>
                        <div class="avatar avatar-xs custom-avatar overflow-hidden border-0"><img alt="Avatar 6"
                                class="w-100 h-100" src="../images/avatars/avatar1.jpg"></div>
                    </div>
                </td>
                <td>01/12/2026</td>
                <td><span class="badge bg-soft-info"><i class="ri-circle-fill me-1 fs-8"></i>In progress</span></td>
                <td>$89,000.00</td>
            </tr>
        </tbody>
    </table>
</div>