<tr class="align-middle">
    <td>%%no</td>
    <td>
        <div class="d-flex align-items-center gap-3">
            <img alt="Employee Profile Image" class="avatar-img-sm rounded-circle" src="/images/avatars/%%img.jpg">
            <div class="d-flex flex-column">
                <h6 class="mb-1 fw-semibold text-dark">%%name</h6>
                <small>EMP-%%id</small>
            </div>
        </div>
    </td>
    <td>%%job</td>
    <td class="fw-semibold text-dark">$%%salary</td>
    <td class="text-sark fw-semibold"><span class="fw-medium"><i class="ri-calendar-2-line"></i></span> %%startdate To %%enddate</td>
    <td><span class="badge bg-soft-%%badgebg rounded-pill"><i class="ri-circle-fill fs-10"></i> %%status</span></td>
    <td class="text-sark fw-semibold">%%paydate</td>
</tr>