<div class="datatable-wrapper">
    <table id="selectTable" class="table table-hover table-nowrap table-striped">
        <thead class="table-light">
            <tr>
                <th class="py-3">No.</th>
                <th class=" position-relative py-3" style="cursor: default;">
                    <div class="d-flex align-items-center gap-2">
                        <div class=""><input aria-label="Select all" class="form-check-input" type="checkbox"></div>
                    </div>
                </th>
                <th class=" position-relative py-3" style="cursor: default;">
                    <div class="d-flex align-items-center gap-2">Employee ID</div>
                </th>
                <th class=" position-relative py-3" style="cursor: default;">
                    <div class="d-flex align-items-center gap-2">Epmloyee Name</div>
                </th>
                <th class=" position-relative py-3" style="cursor: default;">
                    <div class="d-flex align-items-center gap-2">Job Title</div>
                </th>
                <th class=" position-relative py-3" style="cursor: default;">
                    <div class="d-flex align-items-center gap-2">Department</div>
                </th>
                <th class=" position-relative py-3" style="cursor: default;">
                    <div class="d-flex align-items-center gap-2">Join Date</div>
                </th>
                <th class=" position-relative py-3 text-center" style="cursor: default;">
                    <div class="d-flex align-items-center justify-content-center gap-2">Employment type</div>
                </th>
                <th class=" position-relative py-3" style="cursor: default;">
                    <div class="d-flex align-items-center gap-2 justify-content-center">Work model</div>
                </th>
                <th class=" position-relative py-3" style="cursor: default;">
                    <div class="d-flex align-items-center  justify-content-center gap-2">Status</div>
                </th>
            </tr>
        </thead>
        <tbody>
            <!-- emp1 -->
            <tr class="align-middle">
                <td>1</td>
                <td>
                    <div><input aria-label="Select row" class="form-check-input" type="checkbox"></div>
                </td>
                <td>EMP-0234</td>
                <td>
                    <div class="d-flex align-items-center gap-2">
                        <div class="avatar avatar-sm">
                            <img src="../../../images/avatars/avatar2.jpg" alt="Emp1"
                                class="w-100 h-100 custom-avatar">
                        </div>
                        Tiger Nixon
                    </div>
                </td>
                <td>Marketing</td>
                <td>Executive Marketing</td>
                <td>12 Jan 2022</td>
                <td class="text-center"><span class="badge bg-soft-primary">Part-time</span></td>
                <td class="text-center"><span class="text-primary me-1"><i class="ri-circle-line fs-12"></i></span>Hybrid</td>
                <td class="text-center"><span
                        class="budget rounded-pill bg-success px-3 py-1 text-light">Active</span></td>
            </tr>
            <!-- emp2 -->
            <tr class="align-middle">
                <td>2</td>
                <td>
                    <div><input aria-label="Select row" class="form-check-input" type="checkbox"></div>
                </td>
                <td>EMP-0117</td>
                <td>
                    <div class="d-flex align-items-center gap-2">
                        <div class="avatar avatar-sm">
                            <img src="../../../images/avatars/avatar1.jpg" alt="Emp1"
                                class="w-100 h-100 custom-avatar">
                        </div>
                        Joyce Neal
                    </div>
                </td>
                <td>Project Manager</td>
                <td>Management</td>
                <td>10 Mar 2020</td>
                <td class="text-center"><span class="badge bg-soft-primary">Full-time</span></td>
                <td class="text-center"><span class="text-primary me-1"><i class="ri-circle-fill fs-12"></i></span>On-site</td>
                <td class="text-center"><span
                        class="budget rounded-pill bg-success px-3 py-1 text-light">Active</span></td>
            </tr>
            <!-- emp3 -->
            <tr class="align-middle">
                <td>3</td>
                <td>
                    <div><input aria-label="Select row" class="form-check-input" type="checkbox"></div>
                </td>
                <td>EMP-0223</td>
                <td>
                    <div class="d-flex align-items-center gap-2">
                        <div class="avatar avatar-sm">
                            <img src="../../../images/avatars/avatar3.jpg" alt="Emp1"
                                class="w-100 h-100 custom-avatar">
                        </div>
                        Ethan Ray
                    </div>
                </td>
                <td>Custmor Support</td>
                <td>Customer service</td>
                <td>25 Nov 2025</td>
                <td class="text-center"><span class="badge bg-soft-secondary">Internship</span></td>
                <td class="text-center"><span class="text-primary me-1"><i class="ri-circle-fill fs-12"></i></span>On-site</td>
                <td class="text-center"><span
                        class="budget rounded-pill bg-danger px-3 py-1 text-light">Absent</span></td>
            </tr>
            <!-- emp4 -->
            <tr class="align-middle">
                <td>4</td>
                <td>
                    <div><input aria-label="Select row" class="form-check-input" type="checkbox"></div>
                </td>
                <td>EMP-0458</td>
                <td>
                    <div class="d-flex align-items-center gap-2">
                        <div class="avatar avatar-sm">
                            <img src="../../../images/avatars/avatar4.jpg" alt="Emp1"
                                class="w-100 h-100 custom-avatar">
                        </div>
                        Kelvin Yia
                    </div>
                </td>
                <td>Graphic Designer</td>
                <td>Marketing</td>
                <td>11 Apr 2024</td>
                <td class="text-center"><span class="badge bg-soft-secondary">Freelance</span></td>
                <td class="text-center"><span class="text-primary me-1"><i class="ri-square-fill fs-12"></i></span>Remote</td>
                <td class="text-center"><span
                        class="budget rounded-pill bg-success px-3 py-1 text-light">Active</span></td>
            </tr>
            <!-- emp5 -->
            <tr class="align-middle">
                <td>5</td>
                <td>
                    <div><input aria-label="Select row" class="form-check-input" type="checkbox"></div>
                </td>
                <td>EMP-0348</td>
                <td>
                    <div class="d-flex align-items-center gap-2">
                        <div class="avatar avatar-sm">
                            <img src="../../../images/avatars/avatar5.jpg" alt="Emp1"
                                class="w-100 h-100 custom-avatar">
                        </div>
                        Ollivia Joy
                    </div>
                </td>
                <td>Site Supervisior</td>
                <td>Oparations</td>
                <td>08 Jun 2023</td>
                <td class="text-center"><span class="badge bg-soft-primary">Full-time</span></td>
                <td class="text-center"><span class="text-primary me-1"><i class="ri-circle-fill fs-12"></i></span>On-site</td>
                <td class="text-center"><span class="budget rounded-pill bg-secondary px-3 py-1 text-light">On
                        Leave</span></td>
            </tr>
        </tbody>
    </table>
</div>