<div class="menu-simplebar" data-simplebar>
    <div class="leftbar-menu">
        <nav class="flex-column align-items-start navbar navbar-expand-lg navbar-light">
            <div class="flex-column navbar-nav" id="sidebar-menu">

                <!-- Dashboards section-->
                <div class="menu-title">
                    <span class="me-1"><i class="ri-dashboard-line fs-6"></i></span>
                    <p class="fw-semibold mb-0 d-inline-block">Dashboards</p>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="./index.html">
                        <span class="menu-icon"><i class="bi bi-person-lines-fill"></i></span>
                        <h6 class="menu-text mb-0 fw-semibold">Analytics</h6>
                    </a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="./sales_lead.html">
                        <span class="menu-icon"><i class="bi-clipboard-data"></i></span>
                        <h6 class="menu-text mb-0 fw-semibold">Sales</h6>
                    </a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="./attendance.html">
                        <span class="menu-icon"><i class="bi bi-clock"></i></span>
                        <h6 class="menu-text mb-0 fw-semibold">Attendance</h6>
                    </a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="./performance.html">
                        <span class="menu-icon"><i class="bi bi-bar-chart-line"></i></span>
                        <h6 class="menu-text mb-0 fw-semibold">Performance</h6>
                    </a>
                </div>

                <!-- Apps Section-->
                <div class="menu-title">
                    <span class="me-1"><i class="ri-apps-line fs-6"></i></span>
                    <p class="fw-semibold mb-0 d-inline-block">Apps</p>
                </div>

                <!-- Employee Management -->
                <div class="nav-item">
                    <a class="nav-link menu-drop-btn" href="#" data-bs-toggle="collapse"
                        data-bs-target="#employee-management-collapse" aria-expanded="false">
                        <div class="drop-link-title">
                            <span class="menu-icon"><i class="bi bi-people"></i></span>
                            <h6 class="menu-text mb-0 fw-semibold">Employees</h6>
                        </div>
                        <i class="ri-arrow-down-s-line menu-arrow"></i>
                    </a>
                    <div id="employee-management-collapse" class="collapse sub-menu">
                        <div class="flex-column navbar-nav">
                            <div class="nav-item">
                                <a class="nav-link" href="./employee_list.html">
                                    <span class="menu-icon"><i class="bi bi-diamond"></i></span>
                                    <h6 class="menu-text mb-0">Employee List</h6>
                                </a>
                            </div>
                            <div class="nav-item">
                                <a class="nav-link" href="./attan_manage.html">
                                    <span class="menu-icon"><i class="bi bi-diamond"></i></span>
                                    <h6 class="menu-text mb-0">Attendance</h6>
                                </a>
                            </div>
                            <div class="nav-item">
                                <a class="nav-link" href="./leave_manage.html">
                                    <span class="menu-icon"><i class="bi bi-diamond"></i></span>
                                    <h6 class="menu-text mb-0">Leaves</h6>
                                </a>
                            </div>
                            <div class="nav-item">
                                <a class="nav-link" href="./onboarding.html">
                                    <span class="menu-icon"><i class="bi bi-diamond"></i></span>
                                    <h6 class="menu-text mb-0">On/Off Boarding</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- CRM / Client Management -->
                <div class="nav-item">
                    <a class="nav-link menu-drop-btn" href="#" data-bs-toggle="collapse"
                        data-bs-target="#client-management-collapse" aria-expanded="false">
                        <div class="drop-link-title">
                            <span class="menu-icon"><i class="ri-shake-hands-line"></i></span>
                            <h6 class="menu-text mb-0 fw-semibold">Clients</h6>
                        </div>
                        <i class="ri-arrow-down-s-line menu-arrow"></i>
                    </a>
                    <div id="client-management-collapse" class="collapse sub-menu">
                        <div class="flex-column navbar-nav">
                            <div class="nav-item">
                                <a class="nav-link" href="./leads_manage.html">
                                    <span class="menu-icon"><i class="bi bi-diamond"></i></span>
                                    <h6 class="menu-text mb-0">Leads</h6>
                                </a>
                            </div>
                            <div class="nav-item">
                                <a class="nav-link" href="./customer_list.html">
                                    <span class="menu-icon"><i class="bi bi-diamond"></i></span>
                                    <h6 class="menu-text mb-0">Customers</h6>
                                </a>
                            </div>
                            <div class="nav-item">
                                <a class="nav-link" href="./companie.html">
                                    <span class="menu-icon"><i class="bi bi-diamond"></i></span>
                                    <h6 class="menu-text mb-0">Companies</h6>
                                </a>
                            </div>
                            <div class="nav-item">
                                <a class="nav-link" href="./opportunities.html">
                                    <span class="menu-icon"><i class="bi bi-diamond"></i></span>
                                    <h6 class="menu-text mb-0">Opportunities</h6>
                                </a>
                            </div>
                            <div class="nav-item">
                                <a class="nav-link" href="./active_log.html">
                                    <span class="menu-icon"><i class="bi bi-diamond"></i></span>
                                    <h6 class="menu-text mb-0">Activity Log</h6>
                                </a>
                            </div>
                            <div class="nav-item">
                                <a class="nav-link" href="./notes.html">
                                    <span class="menu-icon"><i class="bi bi-diamond"></i></span>
                                    <h6 class="menu-text mb-0">Notes & Tasks</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Task & Project Management -->
                <div class="nav-item">
                    <a class="nav-link menu-drop-btn" href="#" data-bs-toggle="collapse"
                        data-bs-target="#project-management-collapse" aria-expanded="false">
                        <div class="drop-link-title">
                            <span class="menu-icon"><i class="ri-kanban-view"></i></span>
                            <h6 class="menu-text mb-0 fw-semibold">Projects</h6>
                        </div>
                        <i class="ri-arrow-down-s-line menu-arrow"></i>
                    </a>
                    <div id="project-management-collapse" class="collapse sub-menu">
                        <div class="flex-column navbar-nav">
                            <div class="nav-item">
                                <a class="nav-link" href="./task.html">
                                    <span class="menu-icon"><i class="bi bi-diamond"></i></span>
                                    <h6 class="menu-text mb-0">Tasks List</h6>
                                </a>
                            </div>
                            <div class="nav-item">
                                <a class="nav-link" href="./overview.html">
                                    <span class="menu-icon"><i class="bi bi-diamond"></i></span>
                                    <h6 class="menu-text mb-0">Overview</h6>
                                </a>
                            </div>
                            <div class="nav-item">
                                <a class="nav-link" href="./deadlines.html">
                                    <span class="menu-icon"><i class="bi bi-diamond"></i></span>
                                    <h6 class="menu-text mb-0">Deadlines</h6>
                                </a>
                            </div>
                            <div class="nav-item">
                                <a class="nav-link" href="./milestones.html">
                                    <span class="menu-icon"><i class="bi bi-diamond"></i></span>
                                    <h6 class="menu-text mb-0">Milestones</h6>
                                </a>
                            </div>
                            <div class="nav-item">
                                <a class="nav-link" href="./report.html">
                                    <span class="menu-icon"><i class="bi bi-diamond"></i></span>
                                    <h6 class="menu-text mb-0">Task Reports</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Payroll & Finance -->
                <div class="nav-item">
                    <a class="nav-link menu-drop-btn" href="#" data-bs-toggle="collapse"
                        data-bs-target="#finance-collapse" aria-expanded="false">
                        <div class="drop-link-title">
                            <span class="menu-icon"><i class="bi bi-wallet2"></i></span>
                            <h6 class="menu-text mb-0 fw-semibold">Payroll</h6>
                        </div>
                        <i class="ri-arrow-down-s-line menu-arrow"></i>
                    </a>
                    <div id="finance-collapse" class="collapse sub-menu">
                        <div class="flex-column navbar-nav">
                            <div class="nav-item">
                                <a class="nav-link" href="./salary_manage.html">
                                    <span class="menu-icon"><i class="bi bi-diamond"></i></span>
                                    <h6 class="menu-text mb-0">Salaries</h6>
                                </a>
                            </div>
                            <div class="nav-item">
                                <a class="nav-link" href="./invoices.html">
                                    <span class="menu-icon"><i class="bi bi-diamond"></i></span>
                                    <h6 class="menu-text mb-0">Invoices</h6>
                                </a>
                            </div>
                            <div class="nav-item">
                                <a class="nav-link" href="./expense.html">
                                    <span class="menu-icon"><i class="bi bi-diamond"></i></span>
                                    <h6 class="menu-text mb-0">Expenses</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Payroll & Finance -->
                <div class="nav-item">
                    <a class="nav-link menu-drop-btn" href="#" data-bs-toggle="collapse"
                        data-bs-target="#reports-collapse" aria-expanded="false">
                        <div class="drop-link-title">
                            <span class="menu-icon"><i class="bi bi-clipboard-data"></i></span>
                            <h6 class="menu-text mb-0 fw-semibold">Reports</h6>
                        </div>
                        <i class="ri-arrow-down-s-line menu-arrow"></i>
                    </a>
                    <div id="reports-collapse" class="collapse sub-menu">
                        <div class="flex-column navbar-nav">
                            <div class="nav-item">
                                <a class="nav-link" href="./emp_per_reports.html">
                                    <span class="menu-icon"><i class="bi bi-diamond"></i></span>
                                    <h6 class="menu-text mb-0">Employee Performance</h6>
                                </a>
                            </div>
                            <div class="nav-item">
                                <a class="nav-link" href="./customer_engage.html">
                                    <span class="menu-icon"><i class="bi bi-diamond"></i></span>
                                    <h6 class="menu-text mb-0">Customer Engagement</h6>
                                </a>
                            </div>
                            <div class="nav-item">
                                <a class="nav-link" href="./kpidash.html">
                                    <span class="menu-icon"><i class="bi bi-diamond"></i></span>
                                    <h6 class="menu-text mb-0">KPI Dashboards</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Chat -->
                <div class="nav-item">
                    <a class="nav-link" href="./chat.html">
                        <span class="menu-icon"><i class="ri-message-3-line"></i></span>
                        <h6 class="menu-text mb-0 fw-semibold">Chat</h6>
                    </a>
                </div>

                <!-- Email -->
                <div class="nav-item">
                    <a class="nav-link" href="./email.html">
                        <span class="menu-icon"><i class="bi bi-envelope-open"></i></span>
                        <h6 class="menu-text mb-0 fw-semibold">Email</h6>
                    </a>
                </div>

                <!-- Meetings & Calendar -->
                <div class="nav-item">
                    <a class="nav-link" href="./calender.html">
                        <span class="menu-icon"><i class="bi bi-calendar-event"></i></span>
                        <h6 class="menu-text mb-0 fw-semibold">Calendar</h6>
                    </a>
                </div>

                <!-- Team Collaboration Tools -->
                <div class="nav-item">
                    <a class="nav-link" href="./team.html">
                        <span class="menu-icon"><i class="ri-group-3-line"></i></span>
                        <h6 class="menu-text mb-0 fw-semibold">Teams</h6>
                    </a>
                </div>

                <!-- Pages Section -->
                <div class="menu-title">
                    <span class="me-1"><i class="bi bi-file-earmark"></i></span>
                    <p class="fw-semibold mb-0 d-inline-block">Pages</p>
                </div>

                <!-- Pages -->
                <div class="nav-item">
                    <a class="nav-link menu-drop-btn" href="#" data-bs-toggle="collapse" data-bs-target="#page-collapse"
                        aria-expanded="false">
                        <div class="drop-link-title">
                            <span class="menu-icon"><i class="ri-file-list-3-line"></i></span>
                            <h6 class="menu-text mb-0 fw-semibold">Pages</h6>
                        </div>
                        <i class="ri-arrow-down-s-line menu-arrow"></i>
                    </a>
                    <div id="page-collapse" class="collapse sub-menu">
                        <div class="flex-column navbar-nav">
                            <div class="nav-item">
                                <a class="nav-link" href="./stater.html">
                                    <span class="menu-icon"><i class="bi bi-diamond"></i></span>
                                    <h6 class="menu-text mb-0">Stater</h6>
                                </a>
                            </div>
                            <div class="nav-item">
                                <a class="nav-link" href="./pricing.html">
                                    <span class="menu-icon"><i class="bi bi-diamond"></i></span>
                                    <h6 class="menu-text mb-0">Pricing</h6>
                                </a>
                            </div>
                            <div class="nav-item">
                                <a class="nav-link" href="./gallery.html">
                                    <span class="menu-icon"><i class="bi bi-diamond"></i></span>
                                    <h6 class="menu-text mb-0">Gallery</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Authentication -->
                <div class="nav-item">
                    <a class="nav-link menu-drop-btn" href="#" data-bs-toggle="collapse" data-bs-target="#auth-collapse"
                        aria-expanded="false">
                        <div class="drop-link-title">
                            <span class="menu-icon"><i class="ri-key-2-line"></i></span>
                            <h6 class="menu-text mb-0 fw-semibold">Authentication</h6>
                        </div>
                        <i class="ri-arrow-down-s-line menu-arrow"></i>
                    </a>
                    <div id="auth-collapse" class="collapse sub-menu">
                        <div class="flex-column navbar-nav">
                            <div class="nav-item">
                                <a class="nav-link" href="./signin.html">
                                    <span class="menu-icon"><i class="bi bi-diamond"></i></span>
                                    <h6 class="menu-text mb-0">Sign In</h6>
                                </a>
                            </div>
                            <div class="nav-item">
                                <a class="nav-link" href="./signup.html">
                                    <span class="menu-icon"><i class="bi bi-diamond"></i></span>
                                    <h6 class="menu-text mb-0">Sign Up</h6>
                                </a>
                            </div>
                            <div class="nav-item">
                                <a class="nav-link" href="./forgot_pass.html">
                                    <span class="menu-icon"><i class="bi bi-diamond"></i></span>
                                    <h6 class="menu-text mb-0">Forgot Password</h6>
                                </a>
                            </div>
                            <div class="nav-item">
                                <a class="nav-link" href="./verification.html">
                                    <span class="menu-icon"><i class="bi bi-diamond"></i></span>
                                    <h6 class="menu-text mb-0">OTP Verification</h6>
                                </a>
                            </div>
                            <div class="nav-item">
                                <a class="nav-link" href="./reset_psw.html">
                                    <span class="menu-icon"><i class="bi bi-diamond"></i></span>
                                    <h6 class="menu-text mb-0">Reset Password</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Error -->
                <div class="nav-item">
                    <a class="nav-link menu-drop-btn" href="#" data-bs-toggle="collapse"
                        data-bs-target="#error-collapse" aria-expanded="false">
                        <div class="drop-link-title">
                            <span class="menu-icon"><i class="ri-error-warning-line"></i></span>
                            <h6 class="menu-text mb-0 fw-semibold">Error</h6>
                        </div>
                        <i class="ri-arrow-down-s-line menu-arrow"></i>
                    </a>
                    <div id="error-collapse" class="collapse sub-menu">
                        <div class="flex-column navbar-nav">
                            <div class="nav-item">
                                <a class="nav-link" href="./error_404.html">
                                    <span class="menu-icon"><i class="bi bi-diamond"></i></span>
                                    <h6 class="menu-text mb-0">Error 404</h6>
                                </a>
                            </div>
                            <div class="nav-item">
                                <a class="nav-link" href="./error_500.html">
                                    <span class="menu-icon"><i class="bi bi-diamond"></i></span>
                                    <h6 class="menu-text mb-0">Error 500</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Components Section-->
                <div class="menu-title">
                    <span class="me-1"><i class="bi bi-tools fs-6"></i></span>
                    <p class="fw-semibold mb-0 d-inline-block">Components</p>
                </div>

                <!-- UI element -->
                <div class="nav-item">
                    <a class="nav-link menu-drop-btn" href="#" data-bs-toggle="collapse"
                        data-bs-target="#components-collapse" aria-expanded="false">
                        <div class="drop-link-title">
                            <span class="menu-icon"><i class="ri-magic-line"></i></span>
                            <h6 class="menu-text mb-0 fw-semibold">UI Elements</h6>
                        </div>
                        <i class="ri-arrow-down-s-line menu-arrow"></i>
                    </a>
                    <div id="components-collapse" class="collapse sub-menu">
                        <div class="flex-column navbar-nav">
                            <div class="nav-item">
                                <a class="nav-link" href="./accordions.html">
                                    <span class="menu-icon"><i class="bi bi-diamond" data-icon-default="bi-diamond" data-icon-active="bi-diamond-fill"></i></span>
                                    <h6 class="menu-text mb-0">Accordions</h6>
                                </a>
                            </div>
                            <div class="nav-item">
                                <a class="nav-link" href="./avatars.html">
                                    <span class="menu-icon"><i class="bi bi-diamond" data-icon-default="bi-diamond" data-icon-active="bi-diamond-fill"></i></span>
                                    <h6 class="menu-text mb-0">Avatars</h6>
                                </a>
                            </div>
                            <div class="nav-item">
                                <a class="nav-link" href="./alerts.html">
                                    <span class="menu-icon"><i class="bi bi-diamond" data-icon-default="bi-diamond" data-icon-active="bi-diamond-fill"></i></span>
                                    <h6 class="menu-text mb-0">Alerts</h6>
                                </a>
                            </div>
                            <div class="nav-item">
                                <a class="nav-link" href="./badges.html">
                                    <span class="menu-icon"><i class="bi bi-diamond" data-icon-default="bi-diamond" data-icon-active="bi-diamond-fill"></i></span>
                                    <h6 class="menu-text mb-0">Badges</h6>
                                </a>
                            </div>
                            <div class="nav-item">
                                <a class="nav-link" href="./buttons.html">
                                   <span class="menu-icon"><i class="bi bi-diamond" data-icon-default="bi-diamond" data-icon-active="bi-diamond-fill"></i></span>
                                    <h6 class="menu-text mb-0">Buttons</h6>
                                </a>
                            </div>
                            <div class="nav-item">
                                <a class="nav-link" href="./cards.html">
                                    <span class="menu-icon"><i class="bi bi-diamond" data-icon-default="bi-diamond" data-icon-active="bi-diamond-fill"></i></span>
                                    <h6 class="menu-text mb-0">Cards</h6>
                                </a>
                            </div>
                            <div class="nav-item">
                                <a class="nav-link" href="./carousels.html">
                                    <span class="menu-icon"><i class="bi bi-diamond" data-icon-default="bi-diamond" data-icon-active="bi-diamond-fill"></i></span>
                                    <h6 class="menu-text mb-0">Carousels</h6>
                                </a>
                            </div>
                            <div class="nav-item">
                                <a class="nav-link" href="./dropdowns.html">
                                    <span class="menu-icon"><i class="bi bi-diamond" data-icon-default="bi-diamond" data-icon-active="bi-diamond-fill"></i></span>
                                    <h6 class="menu-text mb-0">Dropdowns</h6>
                                </a>
                            </div>
                            <div class="nav-item">
                                <a class="nav-link" href="./listgroup.html">
                                    <span class="menu-icon"><i class="bi bi-diamond" data-icon-default="bi-diamond" data-icon-active="bi-diamond-fill"></i></span>
                                    <h6 class="menu-text mb-0">List Group</h6>
                                </a>
                            </div>
                            <div class="nav-item">
                                <a class="nav-link" href="./modals.html">
                                    <span class="menu-icon"><i class="bi bi-diamond" data-icon-default="bi-diamond" data-icon-active="bi-diamond-fill"></i></span>
                                    <h6 class="menu-text mb-0">Modals</h6>
                                </a>
                            </div>
                            <div class="nav-item">
                                <a class="nav-link" href="./progress_bar.html">
                                    <span class="menu-icon"><i class="bi bi-diamond" data-icon-default="bi-diamond" data-icon-active="bi-diamond-fill"></i></span>
                                    <h6 class="menu-text mb-0">Progress Bars</h6>
                                </a>
                            </div>
                            <div class="nav-item">
                                <a class="nav-link" href="./spinners.html">
                                    <span class="menu-icon"><i class="bi bi-diamond" data-icon-default="bi-diamond" data-icon-active="bi-diamond-fill"></i></span>
                                    <h6 class="menu-text mb-0">Spinners</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Forms -->
                <div class="nav-item">
                    <a class="nav-link menu-drop-btn" href="#" data-bs-toggle="collapse" data-bs-target="#form-collapse"
                        aria-expanded="false">
                        <div class="drop-link-title">
                            <span class="menu-icon"><i class="bi bi-ui-checks"></i></span>
                            <h6 class="menu-text mb-0 fw-semibold">Forms</h6>
                        </div>
                        <i class="ri-arrow-down-s-line menu-arrow"></i>
                    </a>
                    <div id="form-collapse" class="collapse sub-menu">
                        <div class="flex-column navbar-nav">
                            <div class="nav-item">
                                <a class="nav-link" href="./basic_input.html">
                                    <span class="menu-icon"><i class="bi bi-diamond" data-icon-default="bi-diamond" data-icon-active="bi-diamond-fill"></i></span>
                                    <h6 class="menu-text mb-0">Basic Inputs</h6>
                                </a>
                            </div>
                            <div class="nav-item">
                                <a class="nav-link" href="./input_group.html">
                                    <span class="menu-icon"><i class="bi bi-diamond" data-icon-default="bi-diamond" data-icon-active="bi-diamond-fill"></i></span>
                                    <h6 class="menu-text mb-0">Input Groups</h6>
                                </a>
                            </div>
                            <div class="nav-item">
                                <a class="nav-link" href="./form_valid.html">
                                    <span class="menu-icon"><i class="bi bi-diamond" data-icon-default="bi-diamond" data-icon-active="bi-diamond-fill"></i></span>
                                    <h6 class="menu-text mb-0">Form Validation</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Charts -->
                <div class="nav-item">
                    <a class="nav-link menu-drop-btn" href="#" data-bs-toggle="collapse"
                        data-bs-target="#chart-collapse" aria-expanded="false">
                        <div class="drop-link-title">
                            <span class="menu-icon"><i class="ri-pie-chart-box-line"></i></span>
                            <h6 class="menu-text mb-0 fw-semibold">Charts</h6>
                        </div>
                        <i class="ri-arrow-down-s-line menu-arrow"></i>
                    </a>
                    <div id="chart-collapse" class="collapse sub-menu">
                        <div class="flex-column navbar-nav">
                            <div class="nav-item">
                                <a class="nav-link" href="./apexchart.html">
                                    <span class="menu-icon"><i class="bi bi-diamond"></i></span>
                                    <h6 class="menu-text mb-0">Apexcharts</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Widgets -->
                <div class="nav-item">
                    <a class="nav-link" href="./widgets.html">
                        <span class="menu-icon"><i class="bi bi-puzzle"></i></span>
                        <h6 class="menu-text mb-0 fw-semibold">Widgets</h6>
                    </a>
                </div>

                <!-- icons -->
                <div class="nav-item">
                    <a class="nav-link menu-drop-btn" href="#" data-bs-toggle="collapse" data-bs-target="#icon-collapse"
                        aria-expanded="false">
                        <div class="drop-link-title">
                            <span class="menu-icon"><i class="ri-emoji-sticker-line"></i></span>
                            <h6 class="menu-text mb-0 fw-semibold">Icons</h6>
                        </div>
                        <i class="ri-arrow-down-s-line menu-arrow"></i>
                    </a>
                    <div id="icon-collapse" class="collapse sub-menu">
                        <div class="flex-column navbar-nav">
                            <div class="nav-item">
                                <a class="nav-link" href="../../bootstrap_icon.html">
                                     <span class="menu-icon"><i class="bi bi-diamond" data-icon-default="bi-diamond" data-icon-active="bi-diamond-fill"></i></span>
                                    <h6 class="menu-text mb-0">Bootstrap Icons</h6>
                                </a>
                            </div>
                            <div class="nav-item">
                                <a class="nav-link" href="./remix_icon.html">
                                     <span class="menu-icon"><i class="bi bi-diamond" data-icon-default="bi-diamond" data-icon-active="bi-diamond-fill"></i></span>
                                    <h6 class="menu-text mb-0">Remix Icons</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Tables -->
                <div class="nav-item">
                    <a class="nav-link menu-drop-btn" href="#" data-bs-toggle="collapse"
                        data-bs-target="#table-collapse" aria-expanded="false">
                        <div class="drop-link-title">
                            <span class="menu-icon"><i class="ri-table-line"></i></span>
                            <h6 class="menu-text mb-0 fw-semibold">Tables</h6>
                        </div>
                        <i class="ri-arrow-down-s-line menu-arrow"></i>
                    </a>
                    <div id="table-collapse" class="collapse sub-menu">
                        <div class="flex-column navbar-nav">
                            <div class="nav-item">
                                <a class="nav-link" href="./basic_table.html">
                                    <span class="menu-icon"><i class="bi bi-diamond" data-icon-default="bi-diamond" data-icon-active="bi-diamond-fill"></i></span>
                                    <h6 class="menu-text mb-0">Basic Tables</h6>
                                </a>
                            </div>
                            <div class="nav-item">
                                <a class="nav-link" href="./data_table.html">
                                    <span class="menu-icon"><i class="bi bi-diamond" data-icon-default="bi-diamond" data-icon-active="bi-diamond-fill"></i></span>
                                    <h6 class="menu-text mb-0">Data Tables</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Multi levels -->
                <div class="nav-item">
                    <a class="nav-link menu-drop-btn" href="#" data-bs-toggle="collapse"
                        data-bs-target="#level-collapse" aria-expanded="false">
                        <div class="drop-link-title">
                            <span class="menu-icon"><i class="bi bi-stack"></i></span>
                            <h6 class="menu-text mb-0 fw-semibold">Multi Level</h6>
                        </div>
                        <i class="ri-arrow-down-s-line menu-arrow"></i>
                    </a>
                    <div id="level-collapse" class="collapse sub-menu">
                        <div class="flex-column navbar-nav">
                            <div class="nav-item">
                                <a class="nav-link" href="../../level_one.html">
                                    <span class="menu-icon"><i class="bi bi-diamond"></i></span>
                                    <h6 class="menu-text mb-0">Level One</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>