<tr class="align-middle">
    <td class="text-nowrap">T-<span class="fw-semibold">%%id</span></td>
    <td>
        <h6 class="mb-0 text-dark">%%task</h6>
    </td>
    <td>
        <h6 class="mb-0 fw-semibold text-dark">%%project</h6>
    </td>
    <td class="text-center">
        <span class="badge bg-%%priority-bg fw-medium px-2 py-1">%%priority</span>
    </td>
    <td class="text-center">
        <div class="avatar-group justify-content-center js-dynamic-avatars" data-employees='%%employeesData'>
        </div>
    </td>
    <td class="text-dark fw-medium">
        <span class="badge bg-outline-secondary fw-medium fs-14"><i class="ri-calendar-schedule-line"></i> %%duration</span>
    </td>
    <td class="text-center">
        <div data-progress="%%progress" class="radial-chart-canvas mx-auto" style="width: 60px; height: 60px; min-height: 60px; min-width: 60px; display: block;"></div>
    </td>
    <td class="text-center">
        <span class="badge bg-soft-%%status-bg rounded-pill border-0 px-2 py-1">%%status</span>
    </td>
    <td>
        <div class="d-flex align-items-center gap-3">
            <a href="#" class="btn btn-outline-success btn-edit avatar avatar-sm p-0"><span><i
                        class="ri-edit-box-line fs-5 fw-normal"></i></span></a>
            <a href="#" class="btn btn-outline-danger btn-delete avatar avatar-sm p-0"><span><i
                        class="ri-delete-bin-7-line fs-5 fw-normal"></i></span></a>
        </div>
    </td>
</tr>