<div class="card bg-soft-%%color border border-1 border-soft-%%color h-100 mb-0">
    <div class="card-body">
        <div class="d-flex justify-content-between gap-2">
            <div class="avatar avatar-xxl avatar-%%color rounded-3"><i class="%%icon"></i></div>
            <div class="text-end">
                <h5 class="fw-semibold mb-0">%%department</h5>
                <h2 class="fw-bold text-%%color mb-1">%%count</h2>
                <p class="mb-0">Active: <span class="text-success">%%percentage%</span></p>
            </div>
        </div>
    </div>
</div>